@using iTCShop.Extensions
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var user = HttpContextAccessor.HttpContext.Session.GetAdmin();

    if (user == null)
    {
        ViewBag.Log = "Login";
    }
    else ViewBag.Log = "LogOut";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/admin.css">
    <title>Admin</title>
</head>


<body>
    <header class="header" >
        <div class="adminHeader">
            <div class="headLeft"  >
                <a href="~/Home/HomePage" style="color: black">Home</a>
                <a href="~/Aprods" style="color: black">Admin</a>
            </div>
            <a href="/Login/Login"  id="log" style="border:none; color: black; background-color: aqua; font-weight: bold">
                <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i>
                &nbsp;@ViewBag.Log
            </a>
        </div>
    </header>

    <div class="body">
        <!-- LEFTBAR -->
        <div class="leftBar">
            <div class="menu">
                <h3>Danh Mục</h3>
                <table>
                    <tr>
                        <td id="product"><a href="~/AProds">Products</a> </td>
                    </tr>
                    <tr>
                        <td id="productType"> <a href="~/ATypes">Product Types</a></td>
                    </tr>
                    <tr>
                        <td id="Order"> <a href="~/Order/GetAllOrders">Orders</a></td>
                    </tr>
                    <tr>
                        <td id="account"><a href="~/ACusts">Accounts</a> </td>
                    </tr>
                    <tr>
                        <td id="revenue"><a href="~/ARev">Reports</a> </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="rightContent">
            @RenderBody()
        </div>
    </div>
    @{
        var response = TempData.Get<ResponseModel>("response");
        if (response != null)
        {
            Html.RenderPartial("_ErrorPartial", response);
        }
    }
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="~/js/site.js"></script>
</body>

</html>