<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="Admin.css">
    <title>Admin</title>
</head>


<body>
    <header class="header">
        <div class="adminHeader">
            <div class="headLeft">
                <p>Home</p>
                <p>Admin</p>
            </div>
            <div class="headRight">
                <p> <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i>&nbsp;Login</p>
            </div>
        </div>
    </header>

    <div class="body">
        <!-- LEFTBAR -->
        <div class="leftBar">
            <div class="menu">
                <h3>Danh Mục</h3>
                <table>
                    <tr>
                        <td id="manufacturer" onclick="toManu()">Manufacturer</td>
                    </tr>
                    <tr>
                        <td id="category">Category</td>
                    </tr>
                    <tr>
                        <td id="product">Product</td>
                    </tr>
                    <tr>
                        <td id="account">Account</td>
                    </tr>
                </table>
            </div>
            <div class="manufacturer">
                <h3>Manufacturer</h3>
                <table>
                    <tr>
                        <td>SAMSUNG</td>
                    </tr>
                    <tr>
                        <td>APPLE</td>
                    </tr>
                    <tr>
                        <td>XIAOMI</td>
                    </tr>
                    <tr>
                        <td>OPPO</td>
                    </tr>
                </table>
            </div>
            <div class="categorys">
                <h3>Categorys</h3>
                <div class="categorysBtns">
                    <select class="select" name=" selectCate">
                        <option value="" disabled selected>--Select Cate</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <br>
                    <button> Filter</button>

                </div>

            </div>
        </div>
        <div class="rightContent">
           @RenderBody()
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="Admin.js"></script>
</body>

</html>