@* @model iTCShop.Constants.ResponseModel; *@

@{
    ViewBag.Title = "Resgister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2>Register</h2>
    @{
        var rs = TempData.Get<ResponseModel>("response");
        if (rs != null && rs.IsSuccess())
        {
            <a href="~/Login/Login">
                @ViewBag.RegRs
            </a>
        }
    }
    <form action="/Customer/RegisterCustomer" method="post">
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="Name" name="Name" required>
        </div>

        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="Email" name="Email" required>
        </div>
        <div class="mb-3">
            <label for="UserName" class="form-label">UserName</label>
            <input type="text" class="form-control" id="UserName" name="UserName" required>
        </div>

        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password" name="Password" required minlength="6">
        </div>

    @*     <div class="mb-3">
            <label for="Phone" class="form-label">Phone Number</label>
            <br />
            <span class="input-group-text" id="basic-addon3"> </span>
            <input type="text" class="form-control" id="Phone" name="Phone" pattern="^\d{9}$" title="Has to be last 9 number." aria-describedby="basic-addon3">
        </div> *@
        <label for="Phone" class="form-label">Phone Number</label> 
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">(+84)</span>
            <input type="text" class="form-control" placeholder="Last 9 number" name="Phone" aria-label="" aria-describedby="basic-addon1" pattern="^\d{9}$" title="Has to be last 9 number.">
        </div>

        <div class="mb-3">
            <label for="Address" class="form-label">Address</label>
            <input type="text" class="form-control" id="Address" name="Address" required>
        </div>

        <div class="mb-3">
            <label for="DateOfBirth" class="form-label">Date of birth</label>
            <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" required>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
@* @{
    Html.RenderPartial("_ErrorPartial", Model);
} *@
